.jumbotron p{
  display: inline;
  margin-left: .5rem;
  margin-right: .5rem;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px; 
  overflow: visible;
}
