<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href="/app.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Wildlife Tracker</h1>
        #if($rangerName)
        <div class="links container">
            <p><a href="/">Home</a></p>
            <p><a href="/sightings">All Sightings</a></p>
            <p><a href="/sightings/new">Add Sighting</a></p>
            <p><a href="/animals">All Animals</a></p>
            <p><a href="/animals/new">Add Animals</a></p>
            <p><a href="/">Log out</a></p>
        </div>
          #end
      </div>
      #parse( $template )

    </div>
  </body>
</html>
